name: Firebase App Distribution
on:
  pull_request:
    branches: [ prod ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v2
        with:
          java-version: 1.8
      - name: Build with Gradle
        run: ./gradlew assembleDebug
      - name: Upload APK to Firebase App Distribution
        uses: firebase/firebase-action@v1
        with:
          args: appdistribution:distribute ./app/build/outputs/apk/debug/app-debug.apk --release-notes "Release notes here" --group neptesters --app com.example.nepogoda --token 2f9d65eaf058375ed0d4d9187235e0a10e033f4b
